#
# Generated uWSGI init file for snap http endpoints
#
#


[uwsgi]
#application's base folder
base = {{ config.home_dir }}

#python module to import
app = main
module = %(app)

home = {{ config.virtual_env_dir }}
pythonpath = %(base)

#socket file's location
socket = {{ config.socket_dir }}/%n.sock

#permissions for the socket file
chmod-socket    = 666

#the variable that holds a flask application inside the module imported at line #6
callable = app

#location of log files
logto = {{ config.uwsgi_log_dir }}/%n.log