#!/usr/bin/env python


import snap
import core
import json



{% for f in transform_functions %}
def {{ f }}(input_data, service_objects):
    raise snap.TransformNotImplementedException('{{f}}')
{% endfor %}


