<TopicConfiguration>
    <Id>{{ id }}</Id>
    {% if filters %}
    <Filter>
          <S3Key>
	      {% for f in filters %}
              <FilterRule>
                  <Name>{{ f['name'] }}</Name>
                  <Value>{{ f['value'] }}</Value>
              </FilterRule>
	      {% endfor%}
          </S3Key>
    </Filter>
    {% endif %}
    <Topic>{{ target_arn }}</Topic>
    {% for e in events %}<Event>{{ e }}</Event>
    {% endfor %}
</TopicConfiguration>

